<div class="artist">
    <h2>{{model.artist.artistName}}</h2>
    <div class="songs">
        {{#each model.songs as |song|}}
            <div class="song-div">
                {{song.title}} -- ${{song.price}} -- {{song.playCount}} plays
            </div>
        {{/each}}
    </div>
</div>
{{outlet}}
