<div class="col-md-2">
    {{#each model.artists as |artist|}}
        <div class="artist">
            {{#link-to 'artists.artist' artist.id}}
                {{artist.artistName}}
            {{/link-to}}
        </div>
    {{/each}}
</div>
{{outlet}}
